@layout('layouts/app-react')

@section('title')
BabyBook - social network for babies
@endsection

@section('current-class')
home-page
@endsection

@section('notification')
  <div class="notification welcome 
    @if(flashMessage('notification'))
      active
    @endif
  ">
    @if(flashMessage('notification'))
      {{flashMessage('notification')}}
    @endif
    
  </div>
@endsection

@section('content-area')

<div id="app"></div>


@endsection